.carousel-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #545454;
  padding: 2rem;
  color: #dcccc0;
}

.carousel-container {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-align: center;
}

.carousel-container button {
  font-size: xx-large;
  border: none;
  background-color: #545454;
  cursor: pointer;
  color: #dcccc0;
  font-size: 4rem;
  margin-bottom: 5.5rem;
}

.carousel-container .carousel-product .carousel-product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel-container .carousel-product img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: #dcccc0 2px solid;
}

.carousel-container .carousel-product h2 {
  font-weight: 600;
}

.carousel-container .carousel-product h3 {
  font-weight: 400;
  max-width: 50rem;
}

@media screen and (max-width: 634px) {
  .carousel-container button {
    font-size: 2rem;
  }

  .carousel-container .carousel-product img {
    width: 15rem;
    height: 15rem;
  }

  .carousel-container .carousel-product h2 {
    font-size: 1.5rem;
  }

  .carousel-container .carousel-product .carousel-product-text {
    font-size: 12px;
  }
}
