.features-container {
  color: #545454;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #545454;
  height: 60vh;
  width: 100%;
}

.features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: large;
  width: 20%;
  gap: 0.3rem;
}
